::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(200, 100%, 85%);
  color: hsl(200, 100%, 10%);
  font-family: sans-serif;
}

.header {
  display: flex;
  align-items: center;
}

.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 15%;
  margin: 2rem;
  padding-right: 5rem;
  border: 1px solid black;
  border-right: 0.5rem solid hsl(200, 100%, 10%);
}

.header-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-around;
  width: 50%;
  gap: 1rem;
  padding: 0.5rem;
  border: 1px solid red;
}

.weather-icon-large {
  margin: 0.5rem;
}

.header-current-temp {
  font-size: 2rem;
  margin: 1rem;
  border: 1px solid black;
}

.info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
}

.label {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: hsl(200, 100%, 20%);
}
